@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #202020;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #888;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(104,117,245),rgb(52,211,153));
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

